.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
header {
  background-color: #778899;
}
header h1{
  color: white;
  display:inline;
  padding-left: 10px;
}
h2, h3 {
  font-family: helvetica;
  margin: 0px;
}
body {
  background:lightgray;
}
p {
 margin-top:0px;
 font-family:Calibri, sans-serif;
 padding-right: 0px;
 background: lightgray;
}
img {
  margin: 0px;
  padding: 0px;
}
nav ul li{
  display: inline-block;
}
footer {
  display: grid;
  place-items: center;
}
header nav ul{
  font-family: verdana;
  list-style-type:none;
  margin-bottom: 0px;
  color: pink;
  margin: 0px 20px;
  padding: 10px;
}
header nav ul li h2 a{
  color: pink;
  margin: 0px 20px;
  padding: 10px;
}
.page {
  display: grid;
  grid-template-rows: auto auto auto;
}
.sidebar {
  display: grid;
  grid-template-columns: min(480px) auto;
}
.rightside {
  padding-top: 5px;
  padding-left: 10px;
}
.subheader {
  background-color: #778899;
  color: white;
  font-family: helvetica;
  margin: 0;
  text-decoration:underline;
}
.dropbtn {
  background-color: #778899;
  color: pink;
  border: none;
  font-size: 16px;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position:absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.dropdown:hover .dropbtn{
  background-color: white;
}
