body {
  background:lightgray;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  margin-top:0;
 font-family:Calibri, sans-serif;
 padding-right: 800px;
 background: lightgray;
}
a {
}
h1 {
  font-family:verdana;
}
h2 {
  font-family:verdana;
  margin-bottom: 0;
}
h3 {
  font-family: helvetica;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
